.navigator__admin-link.link {
    display: block;
    width: 160px;

    padding: 8px 0;

    color: #000;
    
    text-align: center;

    border-bottom: 1px #ddd solid;

    transition: all 0s;
}

.navigator__admin-link.link:last-child {
    border-bottom: none;
}

.navigator__admin-link.link:hover {
    color: #000;
    background-color: #e4eaf0;
}
