node_modules/
.DS_Store
.idea
.project
.svn
forever.log
npm-debug.log
static/index.min.*
static/admin.min.*
static/files
static/storage
backups/*
cache/*
*.log
.env

# bem
.enb/tmp/
*bundles*/*/*.*
!*bundles*/*/*.bemdecl.js
*bundles*/*/*.tmpl.bemdecl.js
!*bundles*/.bem/*

.next

scripts/orders.json
