.popup_type_notify {
    right: 1em;
    bottom: 2em;
    background-color: red;
    width: auto;
    padding: 1em 2em 1em 2em;
    border-radius: 0.7em;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s all;
}

.popup__success {
    transform: translateY(-10px);
    background-color: green;
}

.popup__error {
    background-color: red;
}

.popup__warning {
    background-color: orange;
}

.popup__text {
    color: #fff;
    font-family: sans-serif;
    text-align: center;
}


.popup_status_visible{
    background-color: blue;
}
