.footer {
    display: flex;
    margin-left: 2em;
    margin-right: 2em;
    border-top: solid 1px #ddd;
    margin-top: 5em;
    margin-bottom: 1em;
    padding-top: 1em;
}

.footer__support {
    margin: 23px 1em 0 auto;
}

.footer__support .label, .footer__support a {
    color: #1a7abe;
    display: inline-block;
    font-size: 10pt;
}

.footer__support .label:nth-child(1) {
    margin-right: 0.5em;
}

.footer__company .icon {
    background-size: contain;
    height: 80px;
    width: 100px;
}