.chat__message
{
    display: block;
    max-width: 750px;
    margin: 8px 25px 8px 25px;
}

.chat__message_mine
{
    text-align: right;
}

.chat__mess-container
{
    display: inline-block;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #bbd0d9;
}

.chat__message_mine .chat__mess-container
{
    background-color: #dcf8c6;
}

.chat__time
{
    display: inline-block;
    font-size: 8pt;
    font-weight: bold;
    margin-right: 15px;
}

.chat__author
{
    font-size: 8pt;
    margin: 5px 15px 0px 15px;
    font-weight: bold;
    color: #2b83c9;
}

.chat__text
{
    display: inline-block;
    max-width: 400px;
    word-break: break-all;
    margin: 5px 15px 5px 15px;
    font-weight: lighter;
    font-size: 12pt;
}
