.inline-form
{
    margin: 10px;
}

.inline-form__city-type
{
    min-width: 80px;
}

.inline-form__modal .b-modal-dynamic-popup__body
{
    min-height: 100px;
    width: 300px;
}

.inline-form__client-type
{
    min-width: 100px;
}