.orders-table
{
    display: table;
    width: 1200px;
    margin: 0 auto;
    table-layout: fixed;
    font-size: 11pt;
}

@media screen and (max-width: 1200px) and (orientation: landscape) {
    .orders-table
    {
        font-size: 10pt;
        width: 890px;
    }
}
