.navigator__link.link
{
    display: inline-block;
    padding: 0 10px 0 10px;
    outline: none;
    color: #fff;
    font-family: sans-serif;
    font-weight: lighter;
    line-height: 50px;


    transition: 0.2s all ease-in-out;
}

.navigator__link.link:first-child
{
    margin-left: 1em;
}

.bell > .navigator__link.link
{
    padding: 0 15px 0 15px;
}


.navigator__link.link:hover
{
    color: #fff;
    background: #0a5a9e;
}


.navigator__link .icon
{
    width: 22px;
    line-height: 50px;
}

.navigator__alarm
{
    animation: bell 2s cubic-bezier(.36,.07,.19,.97) infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
}

@keyframes bell {
    0% {
        transform: rotateZ(0deg);
    }
    5% {
        transform: rotateZ(15deg);
    }
    10% {
        transform: rotateZ(-15deg);

    }
    15% {
        transform: rotateZ(15deg);
    }
    20% {
        transform: rotateZ(-15deg);

    }
    25% {
        transform: rotateZ(15deg);
    }
    30% {
        transform: rotateZ(-15deg);
    }
    35% {
        transform: rotateZ(15deg);
    }
    40% {
        transform: rotateZ(-15deg);

    }
    45% {
        transform: rotateZ(15deg);
    }
    50% {
        transform: rotateZ(-15deg);

    }
    55% {
        transform: rotateZ(15deg);
    }
    60% {
        transform: rotateZ(-15deg);
    }
    65% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}
