.table_type_notify .table__head
{
    border-bottom: 1px solid black;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.table_type_notify .table__row .table__cell
{
    width: 25%;
    text-align: center;
}

.table_type_notify .table__row .table__cell:first-child
{
    width: 50%;
}

.table_type_notify .table__body .table__cell
{
    height: 40px;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
    transition: 0.3s all;
}

.table_type_notify .table__body .table__row-unread
{
    font-weight: bold;
    background: #f3f7ce;
}

.table_type_notify .table__body .table__row:hover .table__cell
{
    transform: translateX(5px);
}
