.order__head-cell
{
    font-size: 10pt;
    display: inline-table;
    padding-top: 8px;
    padding-left: 8px;
}

.order__title
{
    height: 35px;
    width: 130px;
    font-size: 18pt;
    /* color: white; */
    /* background-color: #53aa5e; */
    text-align: center;
}

.order__right
{
    height: 35px;
    width: 130px;
    font-size: 18pt;
    float: right;
    text-align: center;
}

.order__orange
{
    color: orange;
}

.order__green
{
    color: #53aa5e;
}

.order__red
{
    color: red;
}

.order__pause
{
    width: 100px;
    position: relative;
    top: -30px;
    border-radius: 0 8px 8px 0;
    padding-bottom: 8px;
    background-color: #1a7abe;
    color: white;
    text-align: center;
    font-size: 14pt;
}
