.ultra-table_theme_order {
    width: 98%;
    margin-left: 1em;
    border-collapse: collapse;
    font-size: 10pt;
    border-spacing: 0;
    font-family: sans-serif;
}
.ultra-table_theme_order th {
    border-bottom: 2px solid #ddd;
}
.ultra-table_theme_order td {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}
.ultra-table_theme_order .tbody  tr {
    cursor: pointer;
    transition: all 0.1s;
}
.ultra-table_theme_order .tbody tr:hover {
    background: #fafafa;
}
