.order__actions
{
    padding-bottom: 15px;
}

.order__actions > .button
{
    margin-top: 15px;

    margin-left: 25px;
}

.order__actions > .select
{
    margin-top: 15px;

    margin-left: 25px;
}
