.chat__body
{
    border-bottom: 1px solid #ddd;
    min-height: 200px;
    max-height: 600px;
    overflow-y: scroll;
    background-image: url("chat-background.jpg");
}

.chat__nt
{
    width: 200px;
    margin: 20px auto;
}
