.order__head
{
    display: flex;
    position: relative;
    height: 100px;
    box-shadow: 0 4px 1px rgba(0,0,0,0.1);
}

.order__head-item
{
    display: inline-block;
    padding-top: 10px;
    line-height: 15px;
    margin-right: 1em;
}
