.header__hello
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    font-size: 14pt;
    padding-top: 12px;
    font-weight: lighter;
    min-width: 850px;
    background-color: #1a7abe;
    z-index: 999;
}
