.user__cell
{
    display: table-cell;
    vertical-align: middle;
}
.user__cell
{
    font-size: 10pt;
}
.user__cell:first-child
{
    width: 200px;
    font-size: 12pt;
    font-style: italic;
    font-weight: lighter;
    text-align: left;
}
