.switcher .link.link_theme_islands
{
    margin: 0 35px 0 0;

    font-size: 175%;

    padding: 0px 15px 0 15px;
}

.switcher .link.link_theme_islands.link_disabled
{
    border-radius: 15px;

    box-shadow: 0px 0px 25px #ccc;

    background-color: #ffdb4d;
    color: black;
}

.switcher
{
    text-align: center;
    margin: 15px 0 15px 0;
}
