.orders-table__td
{
    display: table-cell;
    text-align: center;

    vertical-align: middle;

    padding: 5px 0 5px 0;

    border-bottom: 1px solid #ccc;
}

.orders-table__td_type_id
{
    width: 75px;
    text-align: left;
}

.orders-table__td_type_cs
{
    width: 50px;
}

.orders-table__td_type_client
{
    width: 360px;
    padding: 5px 5px 5px 5px;
}

.orders-table__td_type_client div
{
    width: 360px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.orders-table__td_type_service
{
    width: 90px;
    font-weight: lighter;
    font-style: italic;
}

.orders-table__td_type_init
{
    font-size: 10pt;
    width: 70px;
    font-weight: lighter;
    font-style: italic;
}

.orders-table__td_type_adress
{
    width: 320px;
}

.orders-table__td_type_cms
{
    width: 100px;
}

.orders-table__body .orders-table__td_type_cms
{
    font-size: 8pt;
}

.orders-table__td_type_status
{
    width: 125px;
    font-weight: lighter;
    font-style: italic;
}

.orders-table__td_warning
{
    color: red;
    font-weight: bold;
}
/*
@media screen and (max-width: 1200px) and (orientation: landscape) {

    .orders-table__td_type_client div
    {
        width: 250px;
    }

    .orders-table__td_type_client
    {
        width: 250px;
    }
    .orders-table__td_type_adress
    {
        width: 250px;
    }
} */
