.searcher
{
    font-family: sans-serif;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 0.7em;
    margin: 20px 20px 30px 20px;
    padding: 1em 1em 1em 1em;
    min-width: 1040px;
}

.searcher__title
{
    display: inline-block;
    font-family: sans-serif;
    margin-left: 1em;
    margin-bottom: 1em;
    font-size: 14pt;
}
.searcher__wrap
{
    margin-left: 3em;
    margin-right: 3em;
}

.searcher__export.button
{
    margin-left: 2em;
    line-height: 15px;
}
