.order__body-row
{
    display: table;
    min-height: 35px;
    padding-left: 2em;
    padding-right: 2em;
    border-bottom: 1px solid #cfcfcf;
}

.order__body-row-name {
    position: relative;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    display: table-cell;
    vertical-align: middle;
    width: 370px;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    text-align: left;
}


.order__body-row-name[data-title]:hover::before {
    content: attr(data-title);
    position: absolute;
    left: 0%; top: 100%;
    z-index: 5;
    background: #fc3;
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.5); /* Параметры рамки */
    border-radius: 5px;
}

.order__body-date
{
    display: table-cell;
    text-align: left;
    width: 200px;
    font-weight: normal;
    font-size: 10pt;
}

.order__body-row-data
{
    display: table-cell;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 370px;
    line-height: 18px;
    font-weight: normal;
    font-size: 11pt;
}
