.order__body-row {
    border-radius: 0 0 0.5em 0.5em;
    line-height: 35px;
    height: 35px;
    display: flex;
    padding-left: 2em;
    padding-right: 2em;
    border-bottom: 1px solid #cfcfcf;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.order__body-row-name {
    font-size: 11pt;
    font-weight:lighter;
    font-style: italic;
    flex: 30 1 20px;
    text-align: left;
}
.order__body-date {
    font-weight:normal;
    font-size: 10pt;
}

.order__body-row-data {
    font-weight: normal;
    font-size: 11pt;
    flex: 30 1 20px;
}

.order__body-row-symbol {
    flex: 1 1 20px;
}
